@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

// html {
//     &.active {
//         overflow: hidden;
//         position: relative;
//         height: 100%; 
//     }
// }

body {
    //fonts
    font-family: 'Montserrat';
    font-size: 11px;
    color: $text-black;

    position: relative;
    
    // &.active {
    //     height: 100%;
    //     overflow: hidden;
    //     width: 100%;
    //     position: relative;
    // }
}

// .particles-js {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // background-color: rgba(#fff, .7);
    // z-index: 1;
// }

.hidden {
    display: none !important;
}

.container {
    width: 90%;
    // max-width: 1320px;

    @include tablets {
        width: 100%;
        padding: 0 30px;
    }

    &_header {
        display: flex;
        justify-content: space-between;

        @include tablets {
            width: 90%;
            padding: 0;
        }

        @include phones {
            justify-content: center;
            align-items: center;
        }
    }

    &_menu {
        display: flex;
        justify-content: center;
    }

    &_slider {
        position: relative;
    }

    &_main-content {
        display: flex;
        @include tablets {
            flex-wrap: wrap;
        }

        @include phones-small {
            padding: 0 10px;
        }
    }

    &_footer {
        display: flex;

        @include tablets {
            padding: 0 15px;
        }

        @include phones {
            flex-wrap: wrap;
        }   
    }
}