@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


body {
    //fonts
    font-family: 'Montserrat';
    font-size: 11px;
    color: $text-black;

    position: relative;
}

// .wrapper {
//     &.active {
//         height: 100%;
//         overflow: hidden;
//     }
// }

.container {
    width: 90%;

    @include tablets {
        width: 100%;
        padding: 0 30px;
    }

    &_header {
        display: flex;
        justify-content: space-between;

        @include tablets {
            width: 90%;
            padding: 0;
        }

        @include phones {
            justify-content: center;
            align-items: center;
        }
    }

    &_menu {
        display: flex;
        justify-content: center;
    }

    &_slider {
        position: relative;
    }

    &_main-content {
        display: flex;
        @include tablets {
            flex-wrap: wrap;
        }

        @include phones-small {
            padding: 0 10px;
        }
    }

    &_footer {
        display: flex;

        @include tablets {
            padding: 0 15px;
        }

        @include phones {
            flex-wrap: wrap;
        }   
    }
}