.aside {
  min-width: 30%;

  @include tablets {
    min-width: 100%;
    margin-bottom: 30px;
  }

  &__banner {
    @include tablets {
      display: none;
    }
  }

  @include phones {
    display: none;   
  }
}