.banner {
  position: relative;
  cursor: pointer;
  &__img {
    height: 470px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center center;
  }

  &__info {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
}