.btn {
  padding: 15px 30px;
  background-color: #fff;
  color: #2a2a2a;
  border-radius: 50px;
  font-size: 16px;
  @include tablets {
    font-size: 14px;
  }
  font-weight: 400;
  transition: box-shadow .3s;
  &:hover {
      
    box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
  }

  &_remove {
    color: $bg-red;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid $bg-red;
    transition: background-color .3s, color .3s;

    &:hover {
      background-color: $bg-red;
      color: #fff;
    }
  }

  &_checkout {
    background-color: $bg-blue;
    color: #fff;
    font-weight: 400;

    display: block;
  }

  &_close {
    border: 1.5px solid #a9a9a9;
    color: #a9a9a9;
    font-weight: 400;
    transition: border .3s, color .3s;
    &:hover {
      border: 1.5px solid #000;
      color: #000;
      box-shadow: none;
    }

    display: block;
  }

}