.category {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &__name {
    color: #2a2a2a;
    font-size: 11px;
  }
}

.radio {
  position: absolute;
  left: -9999px;
  &:checked +.radio-fake:after {
    width: 7.5px;
    height: 7.5px;
  }
}

.label {
  display: flex;
  cursor: pointer;

}

.radio-fake {
  margin-right: 15px;

  background-color: #fff;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid $borders-grey;

  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: width .2s, height .2s;

    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $bg-blue;
  }
}

.checkbox {
  position: absolute;
  left: -9999px;
  &:checked +.checkbox-fake:after {
    border: 2px solid $bg-blue;

  }
}

.checkbox-fake {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  &[data-color="white"] {
    background-color: #fff;
    border: 1px solid $borders-grey;
  }
  &[data-color="black"] {
    background-color: #000;
  }
  &[data-color="grey"] {
    background-color: #959595;
  }
  &[data-color="yellow"] {
    background-color: #fff200;
  }
  &[data-color="orange"] {
    background-color: #f26522;
  }
  &[data-color="red"] {
    background-color: #ed1c24;
  }
  &[data-color="blue"] {
    background-color: #5674b9;
  }
  &[data-color="green"] {
    background-color: #39b54a;
  }
  &[data-color="brown"] {
    background-color: #754c24;
  }
  &[data-color="pink"] {
    background-color: #f49ac1;
  }
  &[data-color="purple"] {
    background-color: #92278f;
  }
  &[data-color="rainbow"] {
    background: linear-gradient(45deg, #92278f, #5674b9, #39b54a, #fff200);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: border .2s;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: $bg-grey;

    border: 1px solid transparent;
  }
}