.city-content {

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    
    &:hover, &.active {
      .city-content__icon {
        fill: $bg-blue;
        transition: fill .3s;
      }
      .city-content__name {
        color: #060606;
        transition: color .3s;
      }

    }
  }

  &__name {
    font-size: 16px;
    color: #a9a9a9;
  }

  &__icon {
    height: 35px;
    width: 35px;
    fill: #a9a9a9;
    margin-right: 15px;
  }

}