.city-popup {

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    
    &:hover, &.active {
      .city-popup__icon {
        fill: $bg-blue;
        transition: fill .3s;
      }
      .city-popup__name {
        color: #060606;
        transition: color .3s;

      }

    }
  }

  &__name {
    font-size: 16px;
    color: #a9a9a9;
  }

  &__icon {
    height: 35px;
    width: 35px;
    fill: #a9a9a9;
    margin-right: 15px;
  }

  &__delivery-info {
    font-size: 16px;
    font-weight: 400;
    color: $bg-blue;
}
}