.content-list {

  &__title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -5px 0;
  }

  &__item {
    color: #a9a9a9;
    font-size: 12px;
    padding: 5px 0;

    &.active {
      color: $bg-blue;
      font-weight: 600;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }

    &_sort {

      &:nth-child(1) {
        min-width: 91px;
      }

      &:nth-child(2) {
        min-width: 112px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__link {
    transition: font-weight .1s, color .3s;
    &:hover {
      color: $bg-blue;
      font-weight: 600;
    }
  }

}