.content {
  width: 70%;
  &__goods {
    // margin-left: 70px;
    // margin-top: 75px;
  }
  // &__header {
  //   display: flex;
  // }

  // &__view {
  //   width: 54%;
  // }

  // &__sort {
  //   width: 46%;
  // }

  &__pagination {
    margin-left: 70px;
    margin-bottom: 70px;
  }
}