.filter {
  &_sort {
    position: relative;
  }

  &__content {
    padding: 35px;
    background-color: #fbfbfb;
    border: 1px solid #ececec;

    &_sort {
      display: none;
      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 10001;
      }
    }
  }

}