.footer {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  background-color: #ececec;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); 

  &__cols {
    display: flex;
    flex: 1;

    @include tablets {
      flex: 3;
    }

    @include phones {
      flex-wrap: wrap; 
    }
  }

  &__col {
    text-transform: uppercase;

    @include tablets {
      padding: 0 15px;
      flex: 1;
    }

    &:not(:last-of-type) {
      margin-right: auto;
    }
    
    @include phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  &__logo {
    width: fit-content;
    margin-bottom: 25px;
    position: relative;
  }
  &__pay-info {
    max-width: 200px;
    margin-right: 135px;

    @include tablets {
      max-width: none;
      margin-right: 0;
      flex: 1;
      padding: 0 15px;
    }

    @include phones {
      order: 1;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 700;

    margin-bottom: 40px;
    @include phones {
      margin-bottom: 25px;
    }
  }
  
}

.footer-list {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
  &__link {
    font-size: 11px;
    transition: color .5s;
    &:hover {
      color: $text-grey;
    }
  }
}