.glide { 
  height: 400px;
  position: relative;
  overflow: hidden;

  @include phones {
    height: 250px;   
  }

  &--preview, &--modal {
    height: 100%;
    position: relative;
  }
  &__track {
    height: 100%;
  }

  &__slides {
    height: 100%;
  }

  &__slide {
    height: 100%;
    position: relative;

    &_preview {
      background-size: cover;
      background-position: center center;
      border: 1px solid #ececec;

      opacity: .6;
      transition: opacity .3s;
      display: flex;
      align-items: center;

      & img {
        max-width: 100%;
      }
    }

    &--active {
      opacity: 1;
    }

    &_modal {
      text-align: center;
      & img {
        max-width: 70%;
      }
    }

    &[data-num="0"] {
      background-image: url('../images/ban_1.jpg');
      background-size: cover;
      background-position: center center;
    }

    &[data-num="1"] {
      background-image: url('../images/ban_2.jpg');
      background-size: cover;
      background-position: center center;
    }

    &[data-num="2"] {
      background-image: url('../images/ban_3.jpg');
      background-size: cover;
      background-position: center center;
    }
  }

  &__svg {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    opacity: .7;
  }

  &__triangle {
    width: 0;
    height: 0;
    border-top: 400px solid #000;
    border-left: 250px solid transparent;

    @include phones {
      display: none;
    }
  }

  &__rectangle {
    width: 30vw;
    height: 400px;
    background: #000;
    
    @include phones {
      width: 100vw;
    }
  }

  &__info {
    max-width: 320px;
    position: absolute;
    top: 25%;
    right: 14%;
    z-index: 0;

    @include phones {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__bullets {
    position: absolute;
    top: 83%;
    // left: 77%;
    right: 14%;
    left: auto !important;
    z-index: 0;

    display: flex;
    align-items: center;

    @include phones {
      left: 50% !important;
      right: auto;
      transform: translateX(-50%);
    }
  }

  &__bullet {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    &:hover, &:focus {
      border: none;
      background: #fff;
      box-shadow: none;
    }

    transition: width .2s, height .2s;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    &--active {
      width: 10px;
      height: 10px;
      background: #fff;
      box-shadow: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    
    padding: 0;
    border: none;
    box-shadow: none;

    &_left {
      left: 5%;
    }
    &_right {
      right: 5%;
    }

    &_preview-left {
      left: -13%;
    }

    &_preview-right {
      right: -13%;
    }
  }

  &__icon {
    fill: #fff;
    height: 37px;
    width: 22px;
    
    &_left {
      transform: rotate(180deg);
    }

    &_preview {
      fill: #4a4a4a;

      &:hover {
        fill: $bg-blue;
      }
    }
  }

}