.glide { 
  height: 400px;
  position: relative;
  &--preview, &--modal {
    height: 100%;
    position: relative;
  }
  &__track {
    height: 100%;
  }

  &__slides {
    height: 100%;
  }

  &__slide {
    height: 100%;
    position: relative;

    &_preview {
      background-size: cover;
      background-position: center center;
      border: 1px solid #ececec;
    }

    &_modal {
      text-align: center;
      & img {
        max-width: 70%;
      }
    }

    &[data-num="0"] {
      background-image: url('../images/slider2.jpg');
      background-size: cover;
      background-position: center center;
    }

    &[data-num="1"] {
      background-image: url('../images/slider2.jpg');
      background-size: cover;
      background-position: center center;
    }

    &[data-num="2"] {
      background-image: url('../images/slider2.jpg');
      background-size: cover;
      background-position: center center;
    }
  }

  &__slide--active {
    & .glide__info {

      & .info__btn {
        opacity: 1;
      }

      & .info__price {
        margin-bottom: 30px;
        margin-right: 0;
        opacity: 1;
      }

      & .info__text {
        margin-top: 0;
        opacity: 1;
      }
    }
  }

  &__info {
    max-width: 320px;
    position: absolute;
    top: 25%;
    right: 14%;
    z-index: 100;
  }

  &__bullets {
    position: absolute;
    top: 83%;
    left: 77%;
    z-index: 0;

    display: flex;
    align-items: center;
  }

  &__bullet {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    &:hover, &:focus {
      border: none;
      background: #fff;
      box-shadow: none;
    }

    transition: width .2s, height .2s;
    &:not(:last-of-type) {
      margin-right: 15px;
    }
    &--active {
      width: 10px;
      height: 10px;
      background: #fff;
      box-shadow: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    
    padding: 0;
    border: none;
    box-shadow: none;

    &_left {
      left: 5%;
    }
    &_right {
      right: 5%;
    }
  }

  &__icon {
    fill: #fff;
    height: 37px;
    width: 22px;
    
    &_left {
      transform: rotate(180deg);
    }
  }

}