.header {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); 

  position: relative;
  // z-index: 20;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #fff;

  @include phones {
    position: static;
  }

  &__city {
    @include phones {
      display: none;
    }
  }

  &__burger {
    display: none;
    @include phones {
      display: block;
      position: fixed;
      right: 10px;
      top: 10px;
    }

    @include phones-landscape {
      right: 20px;
    }
  }


  &__popup {
    position: absolute;
    top: 120%;

    &_city {
      left: 0;
    }

    &_auth {
      right: 0;
    }

    @include tablets {
      top: 105%;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @include phones {
      position: relative;
      left: 0;
      transform: none;
    }
  }

  &__right {
    display: flex;
    position: relative;
    @include phones {
      display: none;
    }
  }

  &__search {
    // display: none;
    // flex: 1;
    &.active {
      display: block;
    }
  }
}
