.main {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__auth {
        align-self: flex-end;
        margin: 20px;
    }
    &__welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__credits {
        color: rgba(white, .7);
        margin-bottom: 3%;
    }
}

.welcome {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:rgba( #fff, 0.7);
    border-radius: 4px;
    &__info {
        display: flex;
        flex-direction: column;
        padding: 35px 60px;
    }

    &__avatar {
        border-radius: 50%;
        
        //FIX
        max-width: 40%;
        max-width: 150px;
        //END FIX
    }

    &__text {
        display: flex;
        flex-direction: column;
        color: #455a64;
    }

    &__name {
        font-size: 28px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    border-radius: 0 0 4px 4px;
    &__item {
        flex: auto; 
        &:not(:last-of-type) {
            border-right: 2px solid #73cac2;
        }
    }
    font-size: 16px;
    color: #fff;
}
.button {
    display: block;
    width: 100%;
    height: 100%;
    &_works {
        border-radius: 0 0 0 4px;
    }
    &_blog {
        border-radius: 0 0 4px 0;
    }
    padding: 15px 25px;
    background-color: $bg-green;
    &:hover {
        transition: .3s;
        background-color: rgba($bg-green-dark, 0.7);
    }
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    &__item {
        &:not(:last-of-type) {
            margin-right: 30px;
        }
    }
}

.social {
    display: block;
        height: 100%;
        width: 100%;
    &__icon {
        fill: $bg-green;
        &:hover {
            transition: .3s;
            fill: rgba($bg-green-dark, 0.7);
        }
    }
}

.btn-auth {
    display: block;
    height: 100%;
    padding: 15px 25px;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
    &:hover {
        border: 1px solid transparent;
        transition: background-color .3s, color .3s;
        background-color: white;
        color: $bg-green;
        font-weight: 500;
    }
}
