.info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__text {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #dfdfdf;
    &_banner {
      color: #2a2a2a;
    }
  }
  &__price {
    font-size: 38px;
    font-weight: 700;
    text-align: right;
    margin-bottom: 30px;
    &_banner {
      margin-bottom: 0;
      color: #ed1c24;
      &:after {
        content: 'р';
        color: #434445;
      }
    }
  }
  
}
