.info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__text {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #dfdfdf;
    opacity: 1;
    transition: margin .3s, opacity .3s;
    &_banner {
      color: #2a2a2a;
      opacity: 1;
      margin-top: 0;
    }
  }
  &__price {
    font-size: 38px;
    font-weight: 700;
    text-align: right;
    opacity: 1;
    transition: margin .3s, opacity .3s;
    margin-bottom: 20px;

    &_banner {
      margin-bottom: 0;
      margin-right: 0;
      opacity: 1;
      color: #ed1c24;
      &:after {
        content: 'р';
        color: #434445;
      }
    }
  }

  &__btn {
    transition: opacity .3s;
    opacity: 1;
  }


    &.non-active {

      & .info__btn {
        opacity: 0;
      }

      & .info__price {
        margin-bottom: 60px;
        margin-right: -30px;
        opacity: 0;
      }

      & .info__text {
        margin-top: -30px;
        opacity: 0;
      }
    }
}
