.input-search {
  border: none;
  outline: 0;
  width: 0;
  padding: 0;
  margin-right: 0;
  margin-bottom: -2px;
  transition: width .3s,padding .3s,border-bottom 0.3s, margin-right .3s;
  &.active {
    margin-right: auto;
    width: 300px;
    padding: 5px 25px;
    border-bottom: 1px solid #010101;
  }
  &.active + .input-label {
    display: block;
  }
  &.used + .input-label, &:focus + .input-label {
    top: -35%;
    color: $bg-blue;
    font-size: 10px;
    opacity: 1;
  }
}

.input-label {
  position: absolute;
  left: 25px;
  top: 50%;
  transition: top .3s, color .3s, font-size .3s, opacity .3s;
  transform: translate(0, -50%);
  display: none;
  opacity: 0;
  

}