.radio {
  position: absolute;
  left: -9999px;
  &:checked +.radio-fake:after {
    width: 7.5px;
    height: 7.5px;
  }

  &:checked +.color-fake:after {
    border: 2px solid $bg-blue;
  }

  &_brands:checked +.radio-fake:after, &_sizes:checked +.radio-fake:after  {
    height: 12px;
    width: 8px;
    border-color: $bg-blue;
  }

}

.label {
  display: flex;
  cursor: pointer;
}

.radio-fake {
  margin-right: 15px;

  background-color: #fff;

  width: 15px;
  height: 15px;
  border: 1px solid $borders-grey;

  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  &_gender {
    border-radius: 50%;
    &:after {

      transition: width .2s, height .2s;

      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: $bg-blue;
    }
  }
  
  &_brands, &_sizes {
    &:after {
      height: 0;
      width: 0;
      // transform-origin: center top;
      top: -10%;
      left: 25%;
      transform: rotate(40deg);
      background-color: transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }
  }
  
}

.checkbox {
  position: absolute;
  left: -9999px;
  &:checked +.color-fake:after {
    border: 2px solid $bg-blue;
  }
}

.color-fake {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.15);
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: border .2s;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    // background-color: $bg-grey;

    border: 1px solid transparent;
  }
  &[data-color="white"] {
    background-color: #fff;
    border: 1px solid $borders-grey;
  }
  &[data-color="black"] {
    background-color: #000;
  }
  &[data-color="grey"] {
    background-color: #959595;
  }
  &[data-color="yellow"] {
    background-color: #fff200;
  }
  &[data-color="orange"] {
    background-color: #f26522;
  }
  &[data-color="red"] {
    background-color: #ed1c24;
  }
  &[data-color="blue"] {
    background-color: #5674b9;
  }
  &[data-color="green"] {
    background-color: #39b54a;
  }
  &[data-color="brown"] {
    background-color: #754c24;
  }
  &[data-color="pink"] {
    background-color: #f49ac1;
  }
  &[data-color="purple"] {
    background-color: #92278f;
  }
  &[data-color="rainbow"] {
    background: linear-gradient(45deg, #92278f, #5674b9, #39b54a, #fff200);
  }
}
