.logo {

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 80px;
    // height: 80px;
  }

  &__text {
    margin-left: 10px;
    text-align: center;
  }

  &__name {
    text-transform: uppercase;
    color: $black;
    font-size: 24px;
  }

  &__descr {
    color: $text-grey-light;
    font-size: 14px;
  }

}