.main-title {
  height: 75px;
  &__text {
    padding-left: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    font-size: 12px;
    text-transform: uppercase;
    flex: 1;
    font-weight: 700;
  }
  &__icon {
    
    width: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ececec;
    font-size: 14px;
    color: #3151cc;
  }
}

.no-left-border {
  border-left: 0 !important;
}
.no-right-border {
  border-right: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}
.no-bottom-border {
  border-bottom: 0 !important;
}