.main-title {
  height: 75px;
  position: relative;
  &:hover {
    cursor: pointer;
    & .main-title__icon {
      color: #3151cc;
    }
  }
  &__text {
    padding-left: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #ececec;
    font-size: 12px;
    text-transform: uppercase;
    flex: 1;
    font-weight: 700;
  }

  &__hint {
    display: block;
    opacity: 0;
    transition: opacity .2s, right .3s;
    position: absolute;
    right: 75px;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    border: 1px solid $bg-blue;
    border-radius: 10px;
    padding: 10px;
    color: $bg-blue;
    font-size: 13px;
    &:after {
      display: block;
      font-size: 20px;
      // content: '>';
      position: absolute;
      left: 105%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__reset-angle {
    width: 12px;
    height: 12px;
    fill: $bg-blue;

    position: absolute;
    display: block;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__icon {
    &:hover +.main-title__hint {
        opacity: 1;
        right: 100px;
    }
    width: 75px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ececec;
    font-size: 14px;
    transition: color .3s;

  }
}

.no-left-border {
  border-left: 0 !important;
}
.no-right-border {
  border-right: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}
.no-bottom-border {
  border-bottom: 0 !important;
}