.menu {
  display: flex;
  
  color: $white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;

  &__item {

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 0;
      transition: height .2s;
      width: 100%;
      top: 0;
      left: 0;
      background-color: $white;
    }

    &:hover {
      background-color: $bg-grey;
      position: relative;

      &:after {
        height: 5px;
        transition: height .2s;
      }
    }
  }

}