.modal-menu {
  
  &__logo {
    margin-bottom: 40px;

    @include phones-small {
      margin-bottom: 25px;
    }
  }

  &__info-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    @include phones-landscape {
      height: 100vh;
    }
  }

  &__profile {
    margin-bottom: 35px;
    @include phones-small {
      margin-bottom: 20px;
    }
    @include phones-landscape {
      height: fit-content;
      order: 0;
      width: 50%;
    }
  }

  &__info {
    margin-bottom: 30px;
  }

  &__cart {
    margin-bottom: 30px;
  }
  
  &__text {
    margin-bottom: 35px;
    @include phones-small {
      margin-bottom: 20px;
    }
    
    @include phones-landscape {
      width: 50%;
      height: 100vh;
      order: 2;    
    }

  }

  &__city {
    @include phones-landscape {
      width: 50%;
      order: 1;    
    }
  }

  &__modal-city {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    // width: fit-content;
    @include phones-landscape {
      left: 100%;
      right: auto;
      bottom: auto;
      transform: translateY(-70%);
      top: 50%;
      padding: 20px !important;
    }
    
  }
}