.modal-filter {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;

    @include phones-landscape {
      width: 50%;
    }

  &__icon {
    width: 55px;
    height: 55px;
    border: 1px solid #4A4A4A;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    transition: border-color .3s;

    @include phones {
      width: 45px;
      height: 45px;
    }

    &.is-highlighted {
      border-color: $bg-blue;
    }

    &.grey {
      border-color: #c5c5c5;
    }

    &_city {
      border: none;
    }
  }

  &__svg {
    fill: #4A4A4A;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill .3s;

    // @include phones {
    //   width: 25px;
    //   height: 25px;
    // }

    &_city {
      width: 40px;
      height: 40px;
      transition: fill .3s;
    }

    &.is-highlighted {
      fill: $bg-blue;
    }
    &.grey {
      fill: #c5c5c5;
    }

    
  }

  &__name {
    font-size: 24px;
    color: #4A4A4A;
    transition: color .3s;

    @include phones {
      font-size: 18px;
    }

    &_city {
      font-size: 18px;
    }

    &.is-highlighted {
      color: $bg-blue;
    }
    &.grey {
      color: #c5c5c5;
    }
  }

  &__color-num {
    font-size: 11px;
  }

  &__choosed {
    font-size: 12px;
    color: $bg-blue;
    font-weight: 500;

    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;


    &_city {
      width: auto;
    }
    &.grey {
      color: #c5c5c5;
    }

    @include phones-landscape {
      width: auto;
    }
  }

  &__text {
    cursor: pointer;
    &.grey {
      color: #c5c5c5;
    }
  }

  &__color-list {
    display: flex;
  }
}