.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  &__box {
    width: 1100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablets {
      width: 90%;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    background-color: #fff;
    padding: 50px 35px;
    border-radius: 5px;
    
    display: flex;

    @include tablets {
      overflow: auto;
      display: block;
    }
  }
  &__hidden-row {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    content: '';
    background: #fff;
    border-radius: 5px 5px 0 0;
    z-index: 10;
    &_bottom {
      bottom: 0;
      display: none;

      @include tablets {
        display: block;
      }

    }
    &_top {
      top: 0;
    }
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;

    &_bottom {
      display: none;
      top: auto;

      @include phones {
        position: absolute;
        bottom: 15px;
        right: 15px;
        display: block;
      }
    }
  }

  &__close-icon {
    width: 15px;
    height: 15px;
    transition: fill .3s;

    &:hover {
      fill: $bg-blue;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  &__gallery {
    width: 50%;
    // background-color: rgba(#ececec, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


    @include tablets {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 30px;
    }

    @include phones {
      flex-direction: column;
    }
  }

  &__info {
    width: 50%;
    padding-left: 40px;

    @include tablets {
      width: 100%;
      padding: 0;
    }

  }

  &__text {
    display: flex;
    flex-wrap: wrap;

    // @include tablets {
    //   margin-bottom: 10px;
    // }
  }

  &__row {
    margin-bottom: 30px;
    width: 100%;

    &_desktop {
      @include tablets {
        display: none;
      }
    }

    &_product-text {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    &_tablets {
      display: none;

      @include tablets {
        display: flex;
      }
    }

    &_sizes {

      width: 55%;
      margin-right: 10%;
     
      @include tablets {
        width: 50%;
        max-width: 400px;
      }

      @include phones {
        width: 100%;
        margin-right: 0;
      }

      @include phones-landscape {
        max-width: 275px;
      }
    }

    &_colors {
      width: 30%;
      @include tablets {
        width: 40%;
      }
      @include phones {
        width: 100%;
      }
    }
    

  }

  &__product-price {
    font-size: 24px;
    color: #000;
    font-weight: 700;

    @include tablets {
      font-size: 28px;
    }

    @include phones {
      font-size: 20px;
    }
  }

  &__descr, &__code {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
  }

  &__code {
    display: flex;
  }

  &__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
      justify-content: flex-start;
    }

    @include phones {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }

    & .btn:first-child {

      @include tablets {
        margin-right: 20px;
      }

      @include phones {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  &__slider {
    width: 100%;
    margin-bottom: 30px;

    @include tablets {
      width: 50%;
      margin-bottom: 20px;
    }

    @include phones {
      width: 80%;
    }

  
  }

  &__preview-slider {    
    height: 100px;
    width: 70%;

    @include tablets {
      width: 50%;
      height: 100%;
    }

    @include phones {
      height: 50px;
      width: 80%;
    }

  }

  &__preview-gallery {
    display: none;
    // min-height: 300px;
    align-items: flex-start;
    flex-wrap: wrap;

    margin: -10px;

    @include tablets {
      display: flex;
    }

    @include phones {
      display: none;
    }
  }

  &__preview-item {
    width: 50%;
    padding: 10px;
  }

  &__preview-inner {
    width: 100%;
    height: 100%;
    border: 1px solid #ececec;
  }

  &__preview-img {
    max-width: 100%;
  }
}