.modal-phone {
  padding: 30px 20px;
  opacity: 0;
  transition: opacity .3s, z-index .3s, top .3s, background-color .3s;
  display: none;
  z-index: -1;

  @include phones {
    display: block;
  }

  &.is-active {
    z-index: 10000;
    opacity: 1;
  }

  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#fff, .95);
}