.modal-menu {
  
  &__logo {
    margin-bottom: 40px;
  }

  &__profile {
    margin-bottom: 35px;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__cart {
    margin-bottom: 30px;
  }
  
  &__text {
    margin-bottom: 35px;
  }

  &__modal-city {
    width: fit-content;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}