.open-filters {
  transition: opacity .3s;

  &.is-active {
    opacity: 0;
    z-index: 10000;
  }

  &__icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-blue;
    transition: background-color .3s;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
    border: 1px solid transparent;
    border-radius: 50%;
    content: '';
    width: 50px;
    height: 50px;
    z-index: -1;
  }
}