.pages {
  display: flex;

  &__item {
    border-left: 1px solid $borders-grey;

    &.active:not(:first-child) +.pages__item {
      @include phones {
        border-right: 1px solid #ececec;
      }
    }

    &.hidden {
      @include phones {
        opacity: 0;
        width: 0;
        height: 0;
        transition: all .5s;
      }
    }


  }

  &__item:last-of-type {
    border-right: 1px solid $borders-grey;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}