.pages {
  display: flex;

  &__item {
    border-left: 1px solid $borders-grey;
  }

  &__item:last-of-type {
    border-right: 1px solid $borders-grey;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}