.pagination {
  display: flex;
  height: 75px;

  @include phones {
    height: 50px;
  }

  justify-content: space-between;
  border: 1px solid $borders-grey;

  &__next, &__prev {
    font-size: 30px;
    color: $text-black;
    background-color: $bg-grey;
    &:hover svg {
      fill: $bg-blue;
    }
  }

  &__next {
    border-left: 1px solid $borders-grey;
  }

  &__prev {
    border-right: 1px solid $borders-grey;
  }
  
  &__icon {
    width: 75px;

    @include phones {
      width: 50px;
    }
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, font-weight .1s;

    &.active {
      background-color: $bg-grey;
      font-weight: 600;
    }
  }

  &__svg {
    fill: #000;
    width: 17px;
    height: 17px;
    transition: fill .3s;
  }
}