.product {
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__sneaker-colors {
    display: none;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: box-shadow .3s;
    border-radius: 3px;
  }
  &:hover {
    &:after {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  }
  .product {

    &__sneaker-colors {
      display: flex;
      margin-bottom: 30px;
    }

    &__text {
      z-index: 100;
    }
    &__company {
      // color: #b4b4b4;
    }
    &__name {
      // color: #fff;
    }
    &__bottom-row {
      position: relative;
      z-index: 100;
      // justify-content: center;
    }
    &__btn {
      background-color: #fff;
      color: $text-black;
    }
    &__price {
      // position: absolute;
      // color: #fff;
      // bottom: 120%;
      // left: 50%;
      // transform: translate(-50%);
    }
  }
}

  &__sale {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 1000;
    color: #fff;
    display: none;
    &.sale {
      display: block;
      &:after {
        position: absolute;
        content: '';
        width: 75px;
        height: 75px;
        background-color: #ed1c24;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  } 

  &__like-link {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1000;
  }
  &__like {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 1;
    
    &:after {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      background-color: #3151cc;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &__link {
    display: block;
    width: inherit;
    height: inherit;
  }

  &__company {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: auto;
  }
  &__name {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__img {
    align-self: center;
    margin-bottom: 45px;
    max-width: 80%;
    
    // width: 80%;
    // height: auto;
    // max-height: 65%;
    height: 120px;
    // background-image: url("images/1.png");
    // background-size: cover;
    // background-position: center center;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    background-color: #3151cc;
    color: #fff;
    // box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); 
    font-weight: 700;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
  }

}