.product {
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__bottom-row {
    margin-top: 20px;
    z-index: 10;
  }
  
  &__sneaker-colors {
    margin-bottom: 30px;
    z-index: 100;
    align-self: center;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: box-shadow .3s;
    border-radius: 3px;
  }
  &:hover {
    &:after {
    box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
  }
}

  &__sale {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 1000;
    color: #fff;
    display: none;
    &.sale {
      display: block;
      &:after {
        position: absolute;
        content: '';
        width: 75px;
        height: 75px;
        background-color: #ed1c24;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }
  } 

  &__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__like-link {
    border: 1px solid #3151cc;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
    transition: background-color .3s, fill .3s;
    position: relative;
    &:hover {
    background-color: #3151cc;
      & .product__like {
        fill: #fff; 
      }
    }

    &_fav {
      position: absolute;
      right: 30px;
      top: 110px;
      border-width: 1px;
    }
  }
  &__like {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    fill: #3151cc;
    z-index: 1;
    transition: .3s;
  }

  &__link {
    display: block;
    width: inherit;
    height: inherit;
  }

  &__text {
    margin-bottom: auto;
  }

  &__img {
    align-self: center;
    margin-bottom: 35px;
    max-width: 80%;
    height: 120px;

    @include phones {
      height: auto;
      max-width: 370px;
      width: 80%;
    }
  }
}