.product-text {
  &__name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__company {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }
}