.product-text {
  &__name {
    color: #000;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

    @include tablets {
      font-size: 28px;
    }

    @include tablets {
      font-size: 16px;
    }

  }
  &__company {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;

    @include tablets {
      font-size: 18px;
    }

    @include phones {
      font-size: 14px;
    }

  }
}