.select-modal {
  display: flex;
  flex-direction: column;

  &__grid {
    display: flex;
    align-items: center;

    &:hover {
      .select-modal__grid-text {
        font-weight: 600;
      }
      .select-modal__grid-arrow {
        transform: translateX(25%);
      }
    }
  }

  &__grid-text {
    color: $bg-blue;
    font-size: 10px;
    margin-right: 10px;
    font-weight: 400;
    transition: font-weight .1s;
  }

  &__grid-arrow {
    transition: transform .3s;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets{ 
      font-size: 18px;
    }

    @include phones {
      font-size: 14px;
    }
  }
}