.select-modal {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 700;
    margin-bottom: 20px;

    @include tablets{ 
      font-size: 18px;
    }

    @include phones {
      font-size: 14px;
    }
  }
}