.sizes {
  display: flex;
  flex-wrap: wrap;
  
  &__col {
    display: flex;
    flex-direction: column;
    &:not(:last-of-type) {
      margin-right: auto;
    }
  }

  &__item {
    display: flex;
    width: 33.33%;
    margin-bottom: 20px;
    &:first-of-type {
      width: 100%;
    }
  }

  &__radio {
    margin-right: 15px;
  }
}