extends ./base
block head
    title Sneakers Shop
block variables
block content
    .modal
      .modal__content
        .modal__gallery
          .modal__slider
            .glide--modal.glide--ltr.glide--carousel.glide--swipeable.glide--slider
              .glide__track(data-glide-el="track")
                ul.glide__slides
                  li.glide__slide.glide__slide_modal
                    img(src="images/1.png")
                  li.glide__slide.glide__slide_modal
                    img(src="images/1.png")
                  li.glide__slide.glide__slide_modal
                    img(src="images/1.png")
          .modal__preview-slider
            .glide--preview.glide--ltr.glide--carousel.glide--swipeable.glide--slider
              .glide__track(data-glide-el="track")
                ul.glide__slides
                  li.glide__slide.glide__slide_preview(style="background-image: url('images/1.png');")
                  li.glide__slide.glide__slide_preview(style="background-image: url('images/1.png');")
                  li.glide__slide.glide__slide_preview(style="background-image: url('images/1.png');")
                  li.glide__slide.glide__slide_preview(style="background-image: url('images/1.png');")
                  li.glide__slide.glide__slide_preview(style="background-image: url('images/1.png');")
        .modal__info
          .modal__text
            .modal__row.product-text
              .product-text__company Nike
              .product-text__name Men's Air More
            .modal__row.select-modal
              .select-modal__title Размеры
              ul.select-modal__list.categories.categories_modal-sizes
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" checked name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 35
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 37
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 39
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" checked name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 40
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 41
                li.categories__item.categories__item_modal-sizes.category
                  label.category__label.label
                    input(type="radio" name="modal-sizes").category__radio.radio.radio_modal-sizes
                    .category__radio-fake.radio-fake.radio-fake_modal-sizes
                    .category__name 44
            .modal__row.select-modal
              .select-modal__title Цвета
              ul.sneaker-colors.select-modal__list
                li.sneaker-colors__item
                  label.label
                    input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                    .color-fake(data-color="black")
                li.sneaker-colors__item
                  label.label
                    input(type="radio" checked name="sneaker-colors-1").radio.radio_sneaker
                    .color-fake(data-color="grey")
                li.sneaker-colors__item
                  label.label
                    input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                    .color-fake(data-color="pink").select-modal__list
            .modal__descr Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Имеет океана одна, ipsum переписали предложения раз меня снова что осталось! Оксмокс языкового рыбного даже прямо до пустился взгляд. Свой!
          .modal__bottom-row.product-buy.product-buy_modal
            .product-buy__price.product-buy__price_modal 10 490 р
            a(href="#").product-buy__btn.btn.btn_buy Купить
    header.header
      .city-popup.header__popup.header__popup_city.popup.popup_city
        .popup__triangle
        .popup__title Выберите город
        ul.city-popup__list
          li.city-popup__item
            svg.city-popup__icon
              use(xlink:href="images/sprite.svg#Msk")
            .city-popup__name Москва
          li.city-popup__item
            svg.city-popup__icon
              use(xlink:href="images/sprite.svg#Spb")
            .city-popup__name Санкт-Петербург
          li.city-popup__item.active
            svg.city-popup__icon
              use(xlink:href="images/sprite.svg#Habarovsk")
            .city-popup__name Владивосток
          li.city-popup__item
            svg.city-popup__icon
              use(xlink:href="images/sprite.svg#Vladivostok")
            .city-popup__name Хабаровск
        a(href="#").city-popup__delivery-info Условия доставки
      .auth-popup.header__popup.header__popup_auth.popup.popup_auth
        .popup__triangle
        .popup__title Личный кабинет
        .auth-popup__profile.profile
          .profile__avatar
          .profile__text
            .profile__name
              a(href="#").auth-popup__link Сергей Климов
            .profile__mail
              a(href="#").auth-popup__link s.klimov@khorito.ru
        ul.auth-popup__info
          li.auth-popup__personal.auth-popup__item
            a(href="#").auth-popup__link Персональные данные
          li.auth-popup__delivery.auth-popup__item
            a(href="#").auth-popup__link Адрес и способ доставки
          li.auth-popup__payment.auth-popup__item
            a(href="#").auth-popup__link Платежные данные
        .auth-popup__exit
          a(href="#").auth-popup__link Выйти из системы
      .cart-popup.header__popup.header__popup_cart.popup.popup_cart
        .popup__triangle
        .popup__title Моя корзина
        ul.cart-popup__list
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/4.png');")
                .cart-product__color(data-color="red")
              .cart-product__price(data-price="12590") 12 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/1.png');")
                .cart-product__color(data-color="blue")
              .cart-product__price(data-price="2590") 2 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
          li.cart-popup__item.cart-product
            .cart-product__left-col
              .cart-product__img(style="background-image: url('images/3.png');")
                .cart-product__color(data-color="white")
              .cart-product__price(data-price="6590") 6 590 р
            .cart-product__right-col
              .cart-product__text
                .cart-product__company Nike
                .cart-product__name MEN'S AIR MORE UPTEMPO
              .cart-product__num.cart-num
                .cart-num__left-col
                  a(href="#").cart-num__minus -
                  .cart-num__cur-num 1
                  a(href="#").cart-num__plus +
                .cart-num__right-col
                  a(href="#").btn.btn_remove.cart-num__remove Убрать
        ul.cart-popup__btns
          li.cart-popup__btn
            a(href="#").btn.btn_checkout.cart-popup__checkout Оформить заказ
          li.cart-popup__btn
            a(href="#").btn.btn_close.cart-popup__close Закрыть
      .container.container_header
        .city.header__city
          a(href="#").city__link
            svg.city__icon.icon
              use(xlink:href=`images/sprite.svg#placeholder`)
          .city__name Владивосток
        .logo.header__logo 
          a(href="#") sneakers
        .header__right
          input.input-search.header__search
          label.input-label Что вы ищете?
          ul.icons.header__icons
            li.icons__item
              a(href="#").icons__link.icons__link_search
                svg.icons__search.icon
                  use(xlink:href=`images/sprite.svg#search`)
            li.icons__item
              a(href="#").icons__link.icons__link_avatar
                svg.icons__avatar.icon
                  use(xlink:href=`images/sprite.svg#avatar`)
            li.icons__item
              a(href="#").icons__link.icons__link_cart
                .icons__cart.cart
                  svg.cart__icon.icon
                    use(xlink:href=`images/sprite.svg#cart`)
                  .cart__num 3
    ul.menu
      .container.container_menu
        li.menu__item
          a.menu__link(href="#") новая коллекция
        li.menu__item
          a.menu__link(href="#") мужские
        li.menu__item
          a.menu__link(href="#") женские
        li.menu__item
          a.menu__link(href="#") детские
        li.menu__item
          a.menu__link(href="#") распродажи
        li.menu__item.active
          a.menu__link(href="#") все кроссовки
    .slider
        .glide
          .glide__track(data-glide-el="track")
            ul.glide__slides
              li.glide__slide(data-num="0")
                //- svg.glide__svg(xmlns="http://www.w3.org/2000/svg" width="800" height="600" viewBox="0 0 800 600" fill="none")             
                //-   rect(width="415.045" height="600" transform="translate(384.955)" fill="black" fill-opacity="0.7")
                //-   path(d="M384.955 0V600L0 0H384.955Z" fill="black" fill-opacity="0.7")
                //- .info.glide__info
                //-   .info__text woman's air max 270
                //-   .info__price 3 990р
                //-   a(href="#").info__btn.btn.btn_more Подробнее
              li.glide__slide(data-num="1")
                //- svg.glide__svg(xmlns="http://www.w3.org/2000/svg" width="800" height="600" viewBox="0 0 800 600" fill="none")             
                  rect(width="415.045" height="600" transform="translate(384.955)" fill="black" fill-opacity="0.7")
                  path(d="M384.955 0V600L0 0H384.955Z" fill="black" fill-opacity="0.7")
                //- .info.glide__info
                  .info__text woman's air max 270
                  .info__price 3 990р
                  a(href="#").info__btn.btn.btn_more Подробнее
              li.glide__slide(data-num="2")
                //- svg.glide__svg(xmlns="http://www.w3.org/2000/svg" width="800" height="600" viewBox="0 0 800 600" fill="none")             
                  rect(width="415.045" height="600" transform="translate(384.955)" fill="black" fill-opacity="0.7")
                  path(d="M384.955 0V600L0 0H384.955Z" fill="black" fill-opacity="0.7")
                //- .info.glide__info
                  .info__text woman's air max 270
                  .info__price 3 990р
                  a(href="#").info__btn.btn.btn_more Подробнее
          svg.glide__svg(xmlns="http://www.w3.org/2000/svg" width="650" height="600" viewBox="0 0 650 600" fill="none")             
                  rect(width="265.045" height="600" transform="translate(384.955)" fill="black" fill-opacity="0.7")
                  path(d="M384.955 0V600L0 0H384.955Z" fill="black" fill-opacity="0.7")
          .info.glide__info
                  .info__text Nike Epic React Flyknit iD
                  .info__price 11 990р
                  a(href="#").info__btn.btn.btn_more Подробнее
          .glide__bullets(data-glide-el="controls[nav]").bullets
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=0")
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=1")
            a.bullets__link.glide__bullet(href="#" data-glide-dir="=2")
          .glide__arrows(data-glide-el="controls")
            a.glide__arrow.glide__arrow_left(href="#" data-glide-dir="<")
              svg.glide__icon.glide__icon_left
                use(xlink:href="images/sprite.svg#arrow")
            a.glide__arrow.glide__arrow_right(href="#" data-glide-dir=">")
              svg.glide__icon.glide__icon_right
                use(xlink:href="images/sprite.svg#arrow")
    .main-content
        .container.container_main-content
          aside.aside
            .aside__filters.filters
              .filters__title.main-title
                .main-title__text.no-right-border Фильтры
                a(href="#").main-title__icon
                  i.fas.fa-redo
                .main-title__hint Сбросить все
              ul.filters__list
                li.filters__item.filter.filter.filter_categories
                  .filter__title.title
                    .title__text.no-right-border.no-top-border Сортировать
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.no-bottom-border
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="sort" checked).category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name по названию
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="sort").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name от дорогих к дешевым
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="sort").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name от дешевых к дорогим
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Категории
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.no-bottom-border
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" checked name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name мужские
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name женские
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio.radio_gender
                        .category__radio-fake.radio-fake.radio-fake_gender
                        .category__name детские
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Бренды
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border.brands.no-bottom-border
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" checked="checked" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name Все бренды
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name adidas
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name converse
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name jordan
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name new balance
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name nike
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name puma
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name reebok
                    li.categories__item.category
                      label.category__label.label
                        input(type="checkbox" name="brands").category__radio.radio.radio_brands
                        .category__radio-fake.radio-fake.radio-fake_brands
                        .category__name vans
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цена
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  .filter__content.price.no-top-border.no-bottom-border
                    .price__borders
                      .price__from.price-input
                        .price-input__text От
                        input(type="text" placeholder="500").price-input__input#price-from
                      .price__to.price-input
                        .price-input__text До
                        input(type="text" placeholder="5000").price-input__input#price-to
                    .price__slider
                      input(type="text" id="price-slider").price__input-slider
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цвета
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.colors.no-bottom-border
                    li.colors__item
                      label.colors__label.label
                          input(type="checkbox" checked="checked" name="colors").colors__checkbox.checkbox.colors__checkbox_all
                          .colors__all Все цвета
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="white")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="black")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="grey")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="yellow")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="orange")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="red")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="blue")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="green")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="brown")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="pink")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="purple")
                      li.colors__item
                        label.colors__label.label
                          input(type="checkbox" name="colors").colors__checkbox.checkbox
                          .colors__checkbox-fake.color-fake.checkbox-fake(data-color="rainbow")
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Размер
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.sizes.no-bottom-border
                    li.sizes__item
                        label.sizes__label.label
                          input(type="checkbox" checked="checked" name="sizes").sizes__radio.radio.radio_sizes
                          .sizes__radio-fake.radio-fake.radio-fake_sizes
                          .sizes__name Все размеры
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 35
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 36
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 37
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 38
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 39
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 40
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 41
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 42
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 43
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 44
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 45
                    li.sizes__item
                      label.sizes__label.label
                        input(type="checkbox" name="sizes").sizes__radio.radio.radio_sizes
                        .sizes__radio-fake.radio-fake.radio-fake_sizes
                        .sizes__name 46
            .aside__banner.banner
              .banner__img
              .banner__info.info
                .info__text.info__text_banner woman's air max 270
                .info__price.info__price_banner 3 990
          .content
            .content__header
            ul.content__goods.goods
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/1.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-1").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/2.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-2").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-2").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-2").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/2.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-3").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/2.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-4").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/5.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-5").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/3.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-6").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/3.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-7").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
              li.goods__item
                .product
                  .product__sale
                  .product__top-row
                    .product__text.product-text
                      .product-text__company Nike
                      .product-text__name Men's Air More
                    a(href="#").product__like-link
                      svg.product__like
                        use(xlink:href=`images/sprite.svg#cart`)
                  img(src="images/1.png").product__img
                  .product__bottom-row.product-buy
                      ul.sneaker-colors.product__sneaker-colors
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" checked name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="black")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="grey")
                        li.sneaker-colors__item
                          label.label
                            input(type="radio" name="sneaker-colors-8").radio.radio_sneaker
                            .color-fake(data-color="pink")
                      a.product-buy__btn.btn.btn_more(href="#").modal-trigger Подробнее
                      .product-buy__price 2 590 р
            .content__pagination.pagination
              a(href="#").pagination__prev.pagination__icon
                svg.pagination__svg
                  use(xlink:href="images/sprite.svg#arrow_left_double")
              ul.pagination__pages.pages
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 2
                li.pages__item.pagination__icon.active
                  a(href="#").pages__link
                    span.pages__text 3
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 4
                li.pages__item.pagination__icon
                  a(href="#").pages__link
                    span.pages__text 5
              a(href="#").pagination__next.pagination__icon
                svg.pagination__svg
                  use(xlink:href="images/sprite.svg#arrow_right_double")
    footer.footer
      .container.container_footer
        .footer__pay-info.pay-info
          .footer__logo.logo
            a(href="#") sneakers
          .footer__pay-logos.pay-info__logos
            img(src="images/logo-visa.png").pay-logos__visa.pay-info__img
            img(src="images/master-card.png").pay-logos__mc.pay-info__img
          .pay-info__pay-text Вы можете оплатить покупки наличными при получении, либо выбрать другой 
            a(href="#").pay-info__main способ оплаты
        ul.footer__cols
          li.footer__col
            .footer__title аккаунт
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") вход 
                span |
                a.footer-list__link(href="#")  регистрация
              li.footer-list__item
                a.footer-list__link(href="#") корзина
          li.footer__col
            .footer__title навигация
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") новая коллекция
              li.footer-list__item
                a.footer-list__link(href="#") мужские
              li.footer-list__item
                a.footer-list__link(href="#") женские
              li.footer-list__item
                a.footer-list__link(href="#") детские
              li.footer-list__item
                a.footer-list__link(href="#") распродажа
              li.footer-list__item
                a.footer-list__link(href="#") магазин
          li.footer__col
            .footer__title компания
            ul.footer__list.footer-list
              li.footer-list__item
                a.footer-list__link(href="#") о нас
              li.footer-list__item
                a.footer-list__link(href="#") политика конфиденциальности
              li.footer-list__item
                a.footer-list__link(href="#") справка и помощь
              li.footer-list__item
                a.footer-list__link(href="#") контакты
              
    script(src="scripts/main.bundle.js")
