extends ./base
block head
    title Главная страница
block variables
block content
    header.header
      .container.container_header
        .city.header__city
          svg.city__icon
          .city__name Владивосток
        .logo.header__logo sneakers
        .icons.header__icons
          svg.icons__search
          svg.icons__login
          svg.icons__cart.cart
            span.cart__num 2
    ul.menu
      .container.container_menu
        li.menu__item.active
          a.menu__link(href="#") новая коллекция
        li.menu__item
          a.menu__link(href="#") мужские
        li.menu__item
          a.menu__link(href="#") женские
        li.menu__item
          a.menu__link(href="#") детские
        li.menu__item
          a.menu__link(href="#") распродажи
        li.menu__item
          a.menu__link(href="#") магазин
    .slider
      .container
    script(src="scripts/main.bundle.js")
