extends ./base
block head
    title Главная страница
block variables
block content
    header.header
      .container.container_header
        .city.header__city
          a(href="#").city__link
            svg.city__icon
              use(xlink:href=`images/sprite.svg#placeholder`)
          .city__name Владивосток
        .logo.header__logo 
          a(href="#") sneakers
        ul.icons.header__icons
          li.icons__item
            a(href="#").icons__link
              svg.icons__search
                use(xlink:href=`images/sprite.svg#search`)
          li.icons__item
            a(href="#").icons__link
              svg.icons__avatar
                use(xlink:href=`images/sprite.svg#avatar`)
          li.icons__item
            a(href="#").icons__link
              .icons__cart.cart
                svg.cart__icon
                  use(xlink:href=`images/sprite.svg#cart`)
                .cart__num 2
    ul.menu
      .container.container_menu
        li.menu__item.active
          a.menu__link(href="#") новая коллекция
        li.menu__item
          a.menu__link(href="#") мужские
        li.menu__item
          a.menu__link(href="#") женские
        li.menu__item
          a.menu__link(href="#") детские
        li.menu__item
          a.menu__link(href="#") распродажи
        li.menu__item
          a.menu__link(href="#") магазин
    .slider
      .container.container_slider
        ul.slider__list
          li.slider__item.active
            img.slider__img(src="images/slider2.jpg", alt="")
            .info.slider__info
              .info__text woman's air max 270
              .info__price 3 990р
              a(href="#").info__btn.btn.btn_more Подробнее
          li.slider__item
            img.slider__img(src="", alt="")
          li.slider__item
            img.slider__img(src="", alt="")
        ul.slider__dots.dots
          li.dots__item.active
            a.dots__link(href="#")
          li.dots__item
            a.dots__link(href="#")
          li.dots__item
            a.dots__link(href="#")
        a(href="#").slider__nav.slider__nav_next
          i.fas.fa-angle-right
        a(href="#").slider__nav.slider__nav_prev
          i.fa.fa-angle-left
    .main-content
        .container.container_main-content
          aside.aside
            .aside__filters.filters
              .filters__title.main-title
                .main-title__text.no-right-border Фильтры
                a(href="#").main-title__icon
                  i.fas.fa-redo
              ul.filters__list
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Категории
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name мужские
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name женские
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="category").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name детские
                li.filters__item.filter.filter_categories
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Бренды
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.categories.no-top-border
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name adidas
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name converse
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name jordan
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name new balance
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name nike
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name puma
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name reebok
                    li.categories__item.category
                      label.category__label.label
                        input(type="radio" name="brands").category__radio.radio
                        .category__radio-fake.radio-fake
                        .category__name vans
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цена
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  .filter__content.price.no-top-border
                    .price__borders
                      .price__from.price-input
                        .price-input__text От
                        input(type="text").price-input__input
                      .price__to.price-input
                        .price-input__text До
                        input(type="text").price-input__input
                    .price__slider
                      input(type="text" id="price-slider").price__input-slider
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Цвета
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.colors
                    .colors__row
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                    .colors__row
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                      li.colors__item
                        input.colors__radio(type="radio")
                li.filters__item.filter.filter_price
                  .filter__title.title
                    .title__text.no-top-border.no-right-border Размер
                    a(href="#").title__icon.no-top-border
                      i.fas.fa-angle-down
                  ul.filter__content.no-top-border.sizes
                    .sizes__col
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 28-29
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 30-31
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 32-33
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 34-35
                    .sizes__col
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 36-37
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 38-39
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 40-41
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 42-43
                    .sizes__col
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 44-45
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 46-47
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 48-49
                      li.sizes__item
                        input.sizes__radio(type="radio")
                        .sizes__text 50-51
            .aside__banner.banner
              .banner__img
              .banner__info.info
                .info__text.info__text_banner woman's air max 270
                .info__price.info__price_banner 3 990
          .content
            .content__header
              .content__view.view
                .view__title.title
                  .title__text.title__text_view.no-left-border Вид
                  a(href="#").title__icon.title__icon_view.no-left-border.active
                    i.fas.fa-th
                  a(href="#").title__icon.title__icon_view.no-left-border
                    i.fas.fa-th-list
              .content__sort.sort
                  .sort__title.title
                    .title__text.no-left-border Сортировать
                    a(href="#").title__icon.title__icon_sort.no-left-border
                      i.fas.fa-angle-down
            ul.content__goods.goods
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  .product__bottom
                    img(src="images/1.png").product__img
                    .product__bottom-row
                      a.btn.btn_more.product__btn(href="#") Подробнее
                      .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  .product__bottom
                    img(src="images/1.png").product__img
                    .product__bottom-row
                      a.btn.btn_more.product__btn(href="#") Подробнее
                      .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/3.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/4.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/1.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/2.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/3.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
              li.goods__item.product
                  .product__text
                    .product__company Nike
                    .product__name Men's Air More Uptempo
                  img(src="images/4.png").product__img
                  .product__bottom-row
                    a.btn.btn_more.product__btn(href="#") Подробнее
                    .product__price 2 590 р
            .content__pagination.pagination
              a(href="#").pagination__prev.pagination__icon
                i.fas.fa-angle-double-left
              ul.pagination__pages.pages
                li.pages__item
                  a(href="#").pagination__icon
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pagination__icon
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pagination__icon
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pagination__icon
                    span.pages__text 1
                li.pages__item.pagination__icon
                  a(href="#").pagination__icon
                    span.pages__text 1
              a(href="#").pagination__next.pagination__icon
                i.fas.fa-angle-double-right
             
    script(src="scripts/main.bundle.js")
