extends ./base
block head
    title Главная страница
block variables
block content
    header.header
      .container.container_header
        .city.header__city
          a(href="#").city__link
            svg.city__icon
              use(xlink:href=`images/sprite.svg#placeholder`)
          .city__name Владивосток
        .logo.header__logo 
          a(href="#") sneakers
        ul.icons.header__icons
          li.icons__item
            a(href="#").icons__link
              svg.icons__search
                use(xlink:href=`images/sprite.svg#search`)
          li.icons__item
            a(href="#").icons__link
              svg.icons__avatar
                use(xlink:href=`images/sprite.svg#avatar`)
          li.icons__item
            a(href="#").icons__link
              .icons__cart.cart
                svg.cart__icon
                  use(xlink:href=`images/sprite.svg#cart`)
                .cart__num 2
    ul.menu
      .container.container_menu
        li.menu__item.active
          a.menu__link(href="#") новая коллекция
        li.menu__item
          a.menu__link(href="#") мужские
        li.menu__item
          a.menu__link(href="#") женские
        li.menu__item
          a.menu__link(href="#") детские
        li.menu__item
          a.menu__link(href="#") распродажи
        li.menu__item
          a.menu__link(href="#") магазин
    .slider
      .container
    script(src="scripts/main.bundle.js")
